ul {
    display: flex;
    justify-content: center;
  }
  
  li {
      margin: 1rem;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 2rem;
      text-align: center;
      border: 2px solid gray;
      border-radius: 0.5rem;
      background-color: #f7f7f7;
  }
  
  .icon {
    display: inline-block;
    height: 400px;
    width: 300px;
    background-image: url("./0-sprite.png");
    background-repeat: no-repeat;
  }
  
  li span.i-html {
    background-position: left center;
  }
  
  li span.i-css {
    background-position: center;
  }
  
  li span.i-js {
    background-position: right center;
  }