h2 a {
    position: relative;
    text-decoration: none;
    color: #8a153a;
  }
  
  h2 a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0.1rem;
    bottom: 0;
    transition: 0.9s cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  
  a:hover::before {
    left: 0;
    background-color: #8a153a;
    width: 100%;
  }